h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid red;
    text-align: center;
}

th, td {
    padding: 5px 10px;
    border: 1px solid #000;
    width: 10px;
    height:10px;
    font-size: small;
}

th {
    background-color: aquamarine;
}


.horsMois{
    background-color: rgb(174, 210, 245);
}

.moisEnCours{
    background-color: white;
}

#moisReserv{
    color:red;
}

.saisie{
    width: 10px;
}