h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid red;
    text-align: center;
}

/* thead, tbody {
    border-bottom: 1px solid red;
} */

th, td {
    padding: 10px 20px;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
}

th {
    background-color: aquamarine;
}

.horsMois{
    background-color: grey;
}

.moisEnCours{
    background-color: aquamarine;
}

#moisReserv{
    color:red;
}

.saisie{
    width: 10px;
}